@model IEnumerable<CanProduce>
@{
    ViewData["Title"] = "List All Crops Farms Can Produce";
}

<h3>List All Crops Farms Can Produce</h3>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Farm Name</th>
            <th>Crop Name</th>
        </tr>
    </thead>

    <tbody>

        @foreach (CanProduce eachCanProduce in Model)
        {
            <tr>
                <td>@eachCanProduce.Farm.FarmName</td>
                <td>@eachCanProduce.Crop.CropName</td>
            </tr>
        }
    </tbody>
</table>

